#/etc/systemd/system/reflector.service

[Unit]

Description=Pacman mirrorlist update

Wants=network-online.target

After=network-online.target

[Service]

Type=oneshot

ExecStart=/usr/bin/reflector --country 'TW,ID,JP,KR, ' --completion-percent 100 --ipv4 --protocol https --age 3 --latest 50 --fastest 20 --number 10 --sort rate --save /etc/pacman.d/mirrorlist

[Install]

RequiredBy=multi-user.target

